#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        hosszu_i: hosszu_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(I)>;
            label = "HOSSZU_I";
        };

        dollar: dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(SEMICOLON)>;
            label = "DOLLAR";
        };

        csillag: csillag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(SLASH)>;
            label = "CSILLAG";
        };

        kacsint: kacsint {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(COMMA)>;
            label = "KACSINT";
        };

        bal_kacsa: bal_kacsa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(M)>;
            label = "BAL_KACSA";
        };

        jobb_kacsa: jobb_kacsa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(PERIOD)>;
            label = "JOBB_KACSA";
        };

        zaro_sima: zaro_sima {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>;
            label = "ZARO_SIMA";
        };

        nyit_kapcs: nyit_kapcs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(F)>;
            label = "NYIT_KAPCS";
        };

        zar_kapcs: zar_kapcs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(G)>;
            label = "ZAR_KAPCS";
        };

        nyit_cumi: nyit_cumi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(B)>;
            label = "NYIT_CUMI";
        };

        zar_cumi: zar_cumi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N)>;
            label = "ZAR_CUMI";
        };

        Alahuz: Alahuz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SLASH)>;
            label = "ALAHUZ";
        };

        hasthag: hasthag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(X)>;
            label = "HASTHAG";
        };

        and: and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(C)>;
            label = "AND";
        };

        kukac: kukac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(V)>;
            label = "KUKAC";
        };

        vonal: vonal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(W)>;
            label = "VONAL";
        };

        discordra: discordra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N7)>;
            label = "DISCORDRA";
        };

        nyito_sima: nyito_sima {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp STAR>;
            label = "NYITO_SIMA";
        };

        hetes: hetes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_7>;
            label = "HETES";
        };

        terminal: terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(RA(T))>;
            label = "TERMINAL";
        };

        bash: bash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B)>;
            label = "BASH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | BSPC  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | CTRL  |  Z  |  X  |  C   |  V   |  B   |   [  |  |  ]    |  N   |  M    |   ,   |   .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER| SPACE |  | ENTER | RAISE| GUI   | ALT   |

            bindings = <
&kp ESC    &nyito_sima  &zaro_sima  &nyit_kapcs       &zar_kapcs  &kp CARET                             &bash          &trans  &nyit_cumi  &zar_cumi  &kp NUMBER_0  &kp MINUS
&kp TAB    &kp Q        &kp W       &kp E             &kp R       &kp T                                 &kp Z          &kp U   &kp I       &kp O      &kp P         &Alahuz
&kp LSHFT  &kp A        &kp S       &kp D             &kp F       &kp G                                 &kp H          &kp J   &kp K       &kp L      &bal_kacsa    &jobb_kacsa
&kp LCTRL  &kp Y        &kp X       &kp C             &kp V       &kp B      &kp CAPSLOCK    &sk W      &kp N          &kp M   &kp COMMA   &kp DOT    &kp FSLH      &trans
                                    &kp LEFT_COMMAND  &mo 2       &mo 1      &kp SPACE       &kp ENTER  &kp BACKSPACE  &mo 3   &mo 4
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | UNLOCK|  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | GRAVE |     |     |      |      |      |                   |      |       |       |      |       |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  * |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |      |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |      |  |       |      |       |       |

            bindings = <
&kp N0        &kp HASH      &kp DOLLAR    &dollar          &hasthag     &and                             &kp PERCENT  &kp F7      &kp F8      &kp F9  &kp F10  &kp F11
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EXCLAMATION  &kp AT_SIGN  &kp AMPERSAND                    &nyito_sima  &zaro_sima  &discordra  &vonal  &trans   &kp F12
&kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans           &trans       &trans                           &nyit_kapcs  &zar_kapcs  &trans      &trans  &trans   &kukac
&kp N7        &kp N8        &kp N9        &trans           &trans       &trans         &trans    &trans  &nyit_cumi   &zar_cumi   &trans      &trans  &trans   &kp F7
                                          &trans           &trans       &trans         &trans    &trans  &trans       &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans   &trans   &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&kp F1  &kp F2  &kp F3  &trans   &trans   &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&kp F4  &kp F5  &kp F6  &trans   &trans   &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans   &trans   &trans   &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans  &trans         &trans  &trans                    &trans  &trans             &trans     &trans     &kp LEFT_BRACKET  &kp BACKSLASH
&trans  &trans   &trans  &kp SEMICOLON  &trans  &trans                    &trans  &kp RIGHT_BRACKET  &hosszu_i  &kp EQUAL  &trans            &kp MINUS
&trans  &kp SQT  &trans  &trans         &trans  &trans                    &trans  &trans             &trans     &trans     &trans            &trans
&trans  &trans   &trans  &trans         &trans  &trans  &trans    &trans  &trans  &trans             &trans     &trans     &trans            &trans
                         &trans         &trans  &trans  &trans    &trans  &trans  &trans             &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |     |      |      |      |                   | PgUp | Home  |   ^   | End  |       |       |
            // |       |     |     |      |      |      |                   | PgDn |   <-  |   v   |  ->  |       |       |
            // | BTCLR | BT1 | BT2 | BT3  | BT4  | BT5  |      |  |       |      |       |       |      |       |       |
            //                     |      |      |      |      |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans     &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp PG_UP  &kp HOME  &kp UP    &kp END    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans    &trans    &trans     &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans     &trans    &trans
            >;
        };
    };
};
